.list-column {
    text-align: center !important;
}

.huel-table {
    margin: 0 auto;
}

.huel-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.huel-table td, .huel-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.huel-table tr:nth-child(even){background-color: #f2f2f2;}

.huel-table tr:nth-child(odd){background-color: #e7e7e7;}

.huel-table tr {
    color: #0353a4;
}

.huel-table tr:hover 
{
    background-color: #0353a4;
    color: #f2f2f2;
}

.huel-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a9134;
    color: white;
    font-family: 'Ubuntu', serif;
    font-weight: 400;
}

.huel-table-link {
    color: inherit !important;
    text-decoration: none !important;
}

.huel-table-link:hover {
    color: inherit !important;
    text-decoration: none !important;
}
