.envelope {
    margin-top: 69px;
}

.feedback-box {
    background-color: #EFEFEF !important;
    border-radius: 30px;
}

.row-contents {
    padding-top: 6vh !important;
    padding-bottom: 0vh !important ;
}

.feedback-heading {
    font-family: 'Bree Serif', serif;
    color: #403D39;
    padding: 1vw 2vh;
    font-size: 6vw;
}

.feedback-sub-text {
    color: #2A9134;
    font-family: 'Ubuntu' , serif ;
    font-weight: 300;
    padding: 0vw 2vh;
    line-height: 150% !important;
}


@media screen and (max-width: 1300px) {
    .feedback-heading {
        font-size: 8vw;
    }

    .row-contents {
        padding-top: 6vh !important;
        padding-bottom: 0vh !important ;   
    }
}

@media screen and (max-width: 900px) {
    .feedback-heading {
        font-size: 11vw;
    }
    .row-contents {
        padding-top: 5vh !important;
        padding-bottom: 0vh !important ;   
    }
}

@media screen and (max-width: 600px) {
    .feedback-heading {
        font-size: 15vw;   
    }

    .row-contents {
        padding-top: 4.3vh !important;
        padding-bottom: 0vh !important ;   
    }
}

.feedback-login-button {
    border-radius: 100px !important;
    background-color: #0353A4 !important;
    border-width: 0px !important;
    font-family: 'Ubuntu', serif !important;
    font-weight: 400 !important;
    color: #EFEFEF !important;
    height: 40px !important;
    width: 90% !important;
    max-width: 200px !important;
}

.feedback-input {
    border-width: 0px !important;
    border-radius: 10px !important;
}

.feedback-label {
    color: #2A9134;
    font-family: 'Ubuntu' , serif ;
    font-weight: 300;
    line-height: 150% !important;
}

.feedback-black-label {
    color: #111111;
    font-family: 'Ubuntu' , serif ;
    font-weight: 300;
    line-height: 150% !important;
}

.rc-slider {
    height: 10px !important;
}

.rc-slider-rail {
    height: 10px !important;
    background-color: #cccccc !important;
}

.rc-slider-track {
    height: 10px !important;
    background-color: #0353A4 !important;
}

.rc-slider-handle {
    border-color: #0353A4 !important; 
    height: 20px !important; 
    width: 20px !important; 
    background-color: white !important; 
}

.rc-slider-handle:active {
    box-shadow: 0px 0px 11px 0px rgba(3, 83, 164, 0.75) !important;
}

.rc-slider-step {
    display: none !important;
}

.feedback-submit-button {
    border-radius: 100px !important;
    background-color: #0353A4 !important;
    border-width: 0px !important;
    font-family: 'Ubuntu', serif !important;
    font-weight: 400 !important;
    color: #EFEFEF !important;
    height: 40px !important;
    width: 100px !important;
}